#createBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 95%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
}
#createBar *:not(input) {
    cursor: pointer;
}
#createImage {
    width: 38px;
    border: 3px solid #edeff1;
    border-radius: 9999px;
}
#createInput {
    width: 75%;
    height: 70%;
    background-color: #F6F7F8;
    border: 1px solid #edeff1;
    border-radius: 5px;
    padding-left: 15px;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 14px;
}
#insertImage {
    font-size: 30px;
}
#link {
    font-size: 30px;
}